<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Accendo.DynamicsIntegration.Crm2015.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Accendo.DynamicsIntegration.Crm2015.Properties.Settings>
            <setting name="ServerAddress" serializeAs="String">
                <value>crm2.dynamics.com</value>
            </setting>
            <setting name="OrganizationName" serializeAs="String">
                <value>AccendoIT</value>
            </setting>
            <setting name="DiscoveryUri" serializeAs="String">
                <value>https://disco.crm2.dynamics.com/XRMServices/2011/Discovery.svc</value>
            </setting>
            <setting name="OrganizationUri" serializeAs="String">
                <value>https://testacconline01.api.crm2.dynamics.com/XRMServices/2011/Organization.svc</value>
            </setting>
            <setting name="HomeRealmUri" serializeAs="String">
                <value/>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>poloagustin@TESTACCONLINE01.onmicrosoft.com</value>
            </setting>
            <setting name="Domain" serializeAs="String">
                <value/>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>AccTst1967</value>
            </setting>
            <setting name="EndpointType" serializeAs="String">
                <value>OnlineFederation</value>
            </setting>
            <setting name="UserPrincipalName" serializeAs="String">
                <value/>
            </setting>
        </Accendo.DynamicsIntegration.Crm2015.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
