################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vssscc
/ACCENDO/Accendo.DynamicsIntegration.Crm/packages
/SUPERVIELLE/Supervielle.DataMigration/packages
bin/
obj/