################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/ACCENDO/Accendo.DynamicsIntegration.Crm/packages
*.vssscc
/SUPERVIELLE/Supervielle.DataMigration/packages
*.suo
*.vspscc
bin/
obj/
