<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Supervielle.DataMigration.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Supervielle.DataAccess.Sql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Accendo.DynamicsIntegration.Crm2015.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<applicationSettings>
		<Accendo.DynamicsIntegration.Crm2015.Properties.Settings>
			<setting name="ServerAddress" serializeAs="String">
				<value>10.241.241.11</value>
			</setting>
			<setting name="OrganizationName" serializeAs="String">
				<value>SVDESAMIG</value>
			</setting>
			<setting name="DiscoveryUri" serializeAs="String">
				<value>http://10.241.241.11/XRMServices/2011/Discovery.svc</value>
			</setting>
			<setting name="OrganizationUri" serializeAs="String">
				<value>http://10.241.241.11/SVDESAMIG/XRMServices/2011/Organization.svc</value>
			</setting>
			<setting name="HomeRealmUri" serializeAs="String">
				<value />
			</setting>
			<setting name="UserName" serializeAs="String">
				<value>svcdynmcrmadmindesa</value>
			</setting>
			<setting name="Domain" serializeAs="String">
				<value>servicios</value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value>Yano.123</value>
			</setting>
			<setting name="EndpointType" serializeAs="String">
				<value>ActiveDirectory</value>
			</setting>
			<setting name="UserPrincipalName" serializeAs="String">
				<value />
			</setting>
		</Accendo.DynamicsIntegration.Crm2015.Properties.Settings>
		<Supervielle.DataMigration.App.Properties.Settings>
			<setting name="ArgumentMappingFilePath" serializeAs="String">
				<value>.\argument-mapping.json</value>
			</setting>
			<setting name="ExitCodeSuccess" serializeAs="String">
				<value>1</value>
			</setting>
			<setting name="ExitCodeError" serializeAs="String">
				<value>0</value>
			</setting>
		</Supervielle.DataMigration.App.Properties.Settings>
		<Supervielle.DataAccess.Sql.Properties.Settings>
			<setting name="SqlMappingsFilePath" serializeAs="String">
				<value>.\attribute-mapping-sql.json</value>
			</setting>
			<setting name="ConnectionStringName" serializeAs="String">
				<value>Supervielle.DataMigration</value>
			</setting>
		</Supervielle.DataAccess.Sql.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<add name="Supervielle.DataMigration" connectionString="Server=10.241.241.11;Database=SUPERVIELLE_DW;User Id=svdesamig;Password=svdesamig;"/>
	</connectionStrings>
</configuration>