<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Supervielle.DataAccess.Sql.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<Supervielle.DataAccess.Sql.Properties.Settings>
   <setting name="ConnectionStringName" serializeAs="String">
    <value>Supervielle.DataMigration</value>
   </setting>
   <setting name="SqlMappingsFilePath" serializeAs="String">
    <value>.\attribute-mapping-sql.json</value>
   </setting>
  </Supervielle.DataAccess.Sql.Properties.Settings>
	</applicationSettings>
	<connectionStrings>
		<add name="Supervielle.DataMigration" connectionString="Server=localhost;Database=SUPERVIELLE_DW;Initial Catalog=myDataBase;Integrated Security=true;" />
	</connectionStrings>
</configuration>